/*--------------------------------------------------------------
# about-css
--------------------------------------------------------------*/

.icon-box {
  width: 100%;
  padding: 30px 30px;
  transition: all ease-in-out 0.3s;
  background:  rgb(230, 230, 230);
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
  border-radius: 18px;
  border-bottom: 5px solid #fff;
}

.icon-box .icon {
  width: 60px;
  height: 60px;
  background: #009961;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: ease-in-out 0.3s;
  color: #fff;
}

.icon-box .icon i {
  font-size: 28px;
  justify-content: center;
  align-items: center;
}

.icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.icon-box h4 a {
  color: #282828;
  transition: ease-in-out 0.3s;
}

.icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.icon-box:hover {
  transform: translateY(-10px);
  border-color: #009961;
}

.icon-box:hover h4 a {
  color: #009961;
}
