	/* CSS Buat home.html dan about.html */

	/* ======================================================================= */

	/* Create three equal columns that floats next to each other */
	.column {
		float: left;
		width: 50%;
		padding: 15px;
		margin-top: 2%;
	}

	/* Clear floats after the columns */
	.row:after {
		content: "";
		display: table;
		clear: both;

	}

	/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
	@media screen and (max-width:600px) {
		.column {
			width: 100%;
		}
	}


	* {
		box-sizing: border-box;
	}

	/* CSS Buat home.html */

	/* ======================================================================= */

	.fa {
		padding: 20px;
		font-size: 30px;
		width: 70px;
		text-align: center;
		text-decoration: none;
		border-radius: 50%;
	}


	.fa:hover {
		opacity: 0.7;
	}

	.fa-facebook {
		background: #3B5998;
		color: white;
	}
	.fa-instagram {
		background: #f40083;
		color: white;
	}
	.fa-linkedin {
		background: #007bb5;
		color: white;
	}

	/* CSS Buat works.html */

	/* ======================================================================= */

	.gambar {
		width: 540px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: auto;
	}

	/* NAV  */

/* =========================================================================== */

.navul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navli {
  float: left;
}

.a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.a:hover {
  background-color: #111;
}